/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Стили хедера */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  max-height: 668px;
  padding-inline: 10px;
}

/* Стили рамок */

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

/* стиль REC*/

.header-decoration {
  position: absolute;
  top: 10px;
  right: 38px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

/* стиль точки справа у REC */

.header-decoration::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  left: 42px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

/* стили меню темы */

.header__theme-menu {
  display: flex;
  justify-content: end;
  margin-block-start: 75px;
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* стили кнопки темы */

.header__theme-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  border: none;
  background-color: transparent;
  color: var(--accent-color);
  cursor: pointer;
  padding-inline: 13px;
  height: 26px;
  width: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid #ff007040;
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

/* стили заколовка хедера */

.header__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--head-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* стили текста хедера */

.header__text {
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--bg-color);
  margin-block-start: 53px;
  margin-block-end: 66px;
}

/* стиль наследуемого бэкграунда (добавил цвет текста) */

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
}

/* стили главного блока */

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-block-start: 40px;
  background-color: var(--bg-color);
}

/* стили секции */

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: 10px;
  padding-block-end: 49px;
}

/* стили заголовка секции */

.content-section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--head-text-color);
}

/* стили элемента секции */

.content-section__item {
  display: flex;
  flex-direction: column;
  margin-block-start: 20px;
}

/* стили заголовка элемента */

.item__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

/* стили текста элемента */

.item__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

/* стили ссылки в тексте */

.link-text {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link-text:hover {
  text-decoration: underline;
}

.link-text:focus {
  outline: 1px solid var(--text-color);
}

/* стили дополнительного блока с двойным заголовком */

.list__title-hint {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 20px;
  color: var(--text-color-hint);
}

/* стили заголовка элементов с узким шрифтом*/

.slim-text {
  font-weight: 400;
}

/* стили секции с галереей */

.content-section__gallery {
  padding-inline: 10px;
  background-color: var(--bg-color);
}

/* стили для элемента с картинками*/

.content-section__gallery-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* стили для картинок */

.content-section__list-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* стили для подвала */

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 100vh;
  max-height: 668px;
  width: 100%;
  padding-block-start: 40px;
}

/* стили для заголовка подвала */

.footer__title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--head-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* стили для планшета */

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 0px;
    padding-inline-end: 21px;
  }

  .header__theme-menu {
    margin: 0px;
    margin-block-start: 190px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    width: 50%;
    max-width: 364px;
    max-height: 117px;
    margin-block-start: 163px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header-decoration {
    top: 20px;
    right: 48px;
  }

  .main {
    padding: 0;
    padding-block-start: 60px;
    padding-block-end: 57px;
    gap: 59px;
  }

  .content-section {
    padding-inline: 20px;
    padding-block: 0;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .content-section__title {
    max-width: 236px;
    padding-block-start: 1px;
    margin-block-end: 20px;
  }

  .content-section__item {
    margin: 0;
    grid-column: 2;
    margin-block-end: 20px;
  }

  .concentration {
    display: flex;
    flex-direction: column;
  }

  .list__title-hint {
    margin-block-start: 0;
    margin-block-end: 20px;
  }

  .content-section__gallery {
    padding-inline: 20px;
  }

  .content-section__gallery-item {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    max-width: 728px;
    padding-block-start: 10px;
  }

  .sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .ice-cream {
    grid-area: 1 / 3 / 3 / 4;
  }

  .tape {
    grid-area: 2 / 1 / 4 / 2;
  }

  .books {
    grid-area: 2 / 2 / 3 / 3;
  }

  .street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .footer {
    min-height: 1024px;
    padding: 0;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
    padding: 0;
  }

  .header__theme-menu {
    justify-content: center;
    align-items: start;
    margin-block-start: 20px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-width: 491px;
    align-self: center;
    margin: 0;
    margin-block-end: 20px;
    margin-inline-end: 20px;
  }

  .content-section__title {
    min-width: 315px;
  }

  .content-section:not(:nth-child(2)) {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .concentration {
    flex-direction: column;
  }

  .concentration .content-section__list {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .concentration .content-section__item {
    max-width: 315px;
  }

  .content-section__gallery-item {
    min-width: 984px;
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    min-block-size: 768px;
  }
}
